<%- include('partials/header'); %>

    <h1> 
        <%= title %>
    </h1>

    <%if (isActive) {%>
        <p>El servidor esta activo</p>
    <% }else { %>
    <p>El servidor esta inactivo</p>
    <%} %>

    <%= new Date()%>

        <ul>
            <% for(let i=0 ; i < users.length; i++) { %>

                <li><%= users[i].lastname %></li>

            <% } %>

        </ul>


<%- include('partials/footer'); %>
